/vendor/
/node_modules/

/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs/*.log

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

.env
.env.backup
.env.*.local
.env.testing

Homestead.yaml
Homestead.json

.phpunit.result.cache
.phpunit.cache
/.phpunit.cache
/.phpunit.result.cache
/_ide_helper.php
/_ide_helper_models.php
.php_cs
.php_cs.cache
.php_cs.dist
/.php_cs
/.php_cs.cache

/.idea
/.vscode
/.fleet
.phpstorm.meta.php
.PhpStorm.meta.php

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

.DS_Store
Thumbs.db
*.swp
*.swo

database/database.sqlite
